.small-title,
.page-title .bg-green,
.masonry-box:hover .blog-meta span.bg-green,
.color-green a,
.navbar-toggler,
.masonry-box:hover .blog-meta span.bg-aqua,
.blog-meta span.bg-aqua,
.search-form .btn:hover,
.search-form .btn:focus,
.search-form .btn,
.btn,
.btn:hover,
.dropdown-item:hover,
.dropdown-item:focus,
.btn:focus,
.dmtop,
.page-link,
.topbar-section {
  color: #ffffff !important;
  background-color: #74a044 !important;
  border-color: #74a044 !important;
}

.authorbox p a,
.pp a,
a:hover,
a:focus,
.footer .fa:hover,
.footer a:hover,
.navbar-nav .nav-link.active.color-green-hover,
.navbar-nav .nav-link.color-green-hover:hover,
.navbar-nav .nav-link.color-green-hover:focus {
  color: #74a044 !important;
}
